@CHARSET "GBK";
body{font-size: 12px;color: #666666;font-family: "����",Arial, Helvetica, sans-serif;}
*{margin: 0;padding: 0;}
ul,li{list-style: none;}
.clear{clear: both;}
h2{font-size: 16px;}
h3{font-size: 14px;}
h4{font-size: 12px;}
a{color:#666666;text-decoration:none;}
a:hover{color: #ff0000;text-decoration: underline;}
.content{width: 1000px;margin: 0 auto;}
/************************************start promotion header**********************************/
.loginbar{height: 31px;border-bottom: 1px solid #e7e7e7;background: #fafafa;overflow: hidden;}
.loginbar_ctt{margin: 0 auto;width: 1000px; line-height: 32px;_line-height: 31px;}
.loginbar_l{margin-left: 0px;float: left;_margin-left: 5px;}
.loginbar_l span a,.loginbar_r a,.ancmt_ctt li a,.plm_ttl_m a,.plm_ttl_m a,.plm_gds li p a,.service a,.Visit_position_m a{color: #666;}
.loginbar_l span a:hover,.loginbar_r a:hover,.search_hot a:hover,.menu_ico1 a:hover,.notice_ctt_m a:hover,.ancmt_ctt li a:hover,.menu_ico2 a:hover,.menu_ico3 a:hover,.menu_ico4 a:hover,.menu_ico5 a:hover,.menu_ico6 a:hover,.menu_ico7 a:hover,.menu_ico8 a:hover,.menu_ico9 a:hover,.menu_ico10 a:hover,.menu_ico11 a:hover,.plm_ttl_m a:hover,#red,.plm_ttl_r a,.plm_gds_prc em,.plm_gds li p a:hover,.btm_l_ttl h2 a,.service a:hover,.links a:hover,.Visit_position_m a:hover{color: #f00;}
.loginbar_r{float: right;}
.promot_header{background:#ffeb47;border-bottom:solid 1px #e68128;height:135px;}
.promot_header .promot_nextbg{background:url("../images/promotion_bg.gif") repeat-x 0 0;height:122px;border-bottom:solid 1px #e68128;}
.promot_logo .promot_img_l{float:left;margin-top:5px}
.promot_logo {position:relative}
.promot_nav_ul{width:400px;height:45px;position:absolute;top:80px;left:160px;line-height:45px;font-family:"΢���ź�"}
.promot_nav_ul a{font-size:18px;color:#fff2db;font-weight:700;display:inline-block;width:121px;height:38px;line-height:38px;text-align:center}
..promot_nav_ul a:hover{color:#fff2db;}
.promotion_line{vertical-align:top;display:inline-block;height: 38px;width: 3px;background:url("../images/promotion_line.gif") no-repeat 0 center;text-align:center}
#nav_hover{display:inline-block;background: url("../images/promotion_hover.gif") no-repeat 0 0;color: #b81415;height: 38px;line-height: 38px;position: relative;width:121px;text-align:center;margin-top:5px}
.pomot_link_r{position:absolute;right:0px;top:18px}
.promot_search{border-bottom:solid 1px #e5e5e5;height:50px}
.promot_search .search{background:url(../images/promotion_searchbg.gif) no-repeat 0 0;width:401px;height:33px;margin:10px 0 0 280px;_margin:10px 0 0 145px;float:left}
.promot_search .search_box{float:left;width:315px;_width:315px;margin-left:35px;height:33px;line-height:33px;background:none repeat scroll 0 0 transparent;}
.promot_search .search_sub{height:33px;background:none repeat scroll 0 0 transparent;width:40px;cursor:pointer}
.promot_search_l{}
.promot_search_r{float:right}
.cd_car{background: url(../images/cd_car_02.gif) no-repeat 0 0;width: 210px;height: 37px;float: right;margin: 10px 0 0;}
.cd_car .notice_ctt_r{margin: -2px 0 0 9px;float: left;display: inline;}
.notice{height: 37px;border-bottom: 1px solid #e8e8e8;background: #f6f6f6;}
.notice_ctt{margin: 0 auto;width: 1000px;position: relative;z-index:90;}
.notice_ctt_m{background: url(../images/ico_01.gif) no-repeat 0px -642px;line-height: 37px;float: left;margin-left:200px;width:500px;display:inline;white-space:nowrap;overflow:hidden;height: 37px;}
.notice_ctt_m ul li a{margin-left:20px;color: #666;}
.notice_ctt_m a p{display:inline;}
.notice_ctt_r{width: 210px;background: url(../images/ico_01.gif) no-repeat 0 -134px;line-height: 37px;float:right;overflow: hidden;}
.notice_ctt_r p{display: block;margin-left: 25px;float: left;_margin-left: 12px;}
.notice_ctt_r p span{color: #f00;} 
.notice_bn{display: inline-block; float: right;background: url(../images/ico_01.gif) no-repeat 0 -104px;height: 22px;width: 60px;margin: 7px 20px 0 0;cursor:pointer}

.promoto_main{background:url("../images/promot_contbg.gif") repeat 0 0;padding-top:8px;padding-bottom:15px;}
.promot_quanbu{font: bold 14px/35px "����";color:#ff0000;padding:5px;height:35px; text-align:center;}


.promot_menu{border:solid 1px #e68128;width:1000px;margin:0 auto; min-height:79px; display:block;}
.promot_menu dl{margin:0;padding:0; padding-top:5px; display:block; clear:both;}
.promot_menu dl dt{display:inline-block;float:left;width:110px;}
.promot_menu dl dd{display:inline-block;float:left;width:880px;}
.promot_menu dl dt span{width:60px; text-align:right; font: bold 14px/25px "����"; text-align:center;display:inline-block;color:#f00;}
.promot_menu dl a{font:14px "����";padding:2px 5px; margin:0 3px; text-decoration:none; white-space:nowrap;}
.promot_menu dl a.now{background:#f00;color:#fff;}
.promot_menu dl a.now:hover{text-decoration:none;background:#f00}

.promot_menu dl dd li{float:left; height:28px;line-height:22px;padding:0;font-size:14px;}
.promot_menu dl a:hover{background:#FCC;}
.promot_menu dl dd li a span{font-family:Arial; line-height:22px; display:inline-block; font-size:12px;}
.promot_menu dl dd ul.price a{font-family:Arial;padding: 2px 5px;}




.promot_list{padding:10px 0 8px 0;float:left}
.promot_list li{}
#promot_paixun{font: bold 14px/23px "����";color:#666;height:23px;line-height:23px;background:none;width:60px;margin-left:8px}
.promot_plist{height:23px;line-height:23px;float:left;}
.promot_plist li{cursor:pointer;text-align:center;float:left;font-size:14px;background:url("../images/promot_mianyou.gif") no-repeat 0 0;width:45px;height:23px;line-height:23px;margin-top:15px;border-right: solid 1px #e5e5e5}
#promot_hover{background:url("../images/promot_mianyou1.gif") no-repeat 0 0;width:45px;height:23px;line-height:23px;margin-top:15px;border-right: solid 1px #e5e5e5;color:#753d0a;}


.promot_goods_list{width:996px;margin:0px auto;position:relative;top:20px}
.promot_goods_list li{background:#fff;width:320px;border:solid 1px #FF8742;float:left;height:376px;margin:0 5px 15px 5px;position:relative;top:-15px;_margin:0px 4px 13px 4px}
.promot_goods_list li.a1{margin-left:-3px;}
.promot_goods_list li.a2{margin-left:13px;}
.promot_goods_list li.a3{float:right; margin-right:-3px;}
.promot_goods_list li.pro_hover{border:solid 1px red;}

.promot_top{height:50px;line-height:45px}
.promot_top p{font:bold 14px/20px "����";padding:5px 12px 5px;}
.promot_top p a{color:#666}
.promot_top p a:hover{color:#bf1412}

.promot_img{width:296px;height:238px;border:solid 1px #d6d6d6;margin:0px auto}
.promot_text span.promot_text_l{float:left;padding:5px;margin-left:15px}
.promot_text span.promot_text_r{float:right;padding:5px;margin-right:15px}
.promot_text span em{color:#ff0000;font: bold 12px/22px "Arial"; }
.promot_zhe{ position:absolute; top:294px; height:22px; display:block; width:319px;}
.promot_zhe span{display:inline-block; height:22px; line-height:22px; overflow:hidden; float:left;}
.promot_zhe span del{font-weight: bold;}
.promot_zhe span b{color:#f00; margin:0 3px;}
.promot_zhe span.old{width:110px; margin-left:10px; font-family:Arial;}
.promot_zhe span.zhe{width:80px; margin-left:5px;}
.promot_zhe span.log{width:100px; text-align:right; margin-right:10px; float:right;}


.promot_buyer{position:absolute;z-index:1;top:312px; left:-8px;background:url("../images/promotion_buybg.gif") no-repeat 0 0;width:319px;height:58px}
.promot_buyer_l{float:left;height:58px;line-height:58px;color:#fff;padding-left:15px}
.promot_buyer_l em{font:bold 36px/60px "Arial";text-shadow: 0 0 0 transparent, 1px 1px 1px #8A181B}
.promot_buyer_l em i{font-family: "Microsoft Yahei","Arial","Verda","tahoma";
    font-size: 26px;
    font-weight: bold;
    margin-right: 0px; font-style:normal;}
.promot_buyer_l em span{font-size:25px;}
.promot_buyer_r{cursor:pointer;float:right;margin:15px 15px 0px 0px;background:url("../images/promotion_buy.gif") no-repeat 0 0; width:93px;height:36px}
.promot_buyer_r:hover{background:url("../images/promotion_buy.gif") no-repeat 0 -36px;}


.channel_goods_bpage{text-align:center;margin-top:15px;}
.channel_goods_bpage a{border:1px solid #dbdbdb;height:25px;line-height:25px;padding:0 10px;background:#fff;margin:35px 5px;display:inline-block}
#hover_page_a{color:#fff;font-weight:bold;background:#f00000;border:solid 1px #f00000}
/*
* footer *
*/
#footer{background: #f9f9f9;border-top: 2px solid #ebebeb;height: 420px;}
.service{padding:20px;}
.service dl{width: 100px;height: 110px;overflow: hidden;float: left;padding: 0 20px;}
.service dl dt{padding: 0  0 8px 0;}
.service dl dd{line-height: 20px;}
.service a{color: #666;}
#csc{background: url(../images/ico_02.gif) no-repeat 0 -186px;width: 180px;float: right;}
.commitment{width: 1000px;height: 67px;overflow: hidden;padding: 25px 0;}
.links{text-align: center;}
.links a{margin: 0 15px;color:#666;}
.Record_inf{text-align: center;line-height: 24px;margin-top: 10px;}
.authentication{text-align: center;margin-top: 15px;}
.authentication a:hover{text-decoration: none;}

.filter-tab {float: left; margin-right: 20px;}
.filter-tab li {float: left;margin-left: -1px;}
.filter-tab li a {background:url("../images/promot_mianyou2.gif") repeat-x 0 0;border: 1px solid #d5d5d5;color: #333333;float: left;height: 21px;left: -1px;line-height: 21px;overflow: hidden;padding: 0 12px; position: relative;text-align: center;text-decoration: none;}

.filter-tab .order-price a, .filter-tab .order-sold a, .filter-tab .order-hots a{padding: 0 19px 0 5px;}

.filter-tab li a span{
		isplay: block;
		height:12px;overflow: hidden;
		position: absolute;right:3px;top: 5px;width: 11px;
		background:url("../icon/updown_ico.gif") no-repeat 0 -50px;}
.filter-tab li a:hover span{background:url("../icon/updown_ico.gif") no-repeat 0 -100px;}

.filter-tab .order-price a span {background:url("../icon/updown_ico.gif") no-repeat 0 -75px;}
.filter-tab .order-price a:hover span {background:url("../icon/updown_ico.gif") no-repeat 0 -125px;}

.filter-tab li a.promot_hover,.filter-tab li a.promot_hover2{background:#fff8e7;color:#753d0a}

.filter-tab li a.promot_hover span{background:url("../icon/updown_ico.gif") no-repeat 0 -25px;}
.filter-tab li a.promot_hover2 span{background:url("../icon/updown_ico.gif") no-repeat 0 0;}

.filter-tab li a.promot_hover:hover span{background:url("../icon/updown_ico.gif") no-repeat 0 0;}
.filter-tab li a.promot_hover2:hover span{background:url("../icon/updown_ico.gif") no-repeat 0 -25px;}

.filter-tab li.price_set{margin-left:20px;}
.filter-tab li.price_set .price{width:40px; height:18px; font-size:12px; text-align:center; border:1px solid #bbb; font-family:Arial;}
.filter-tab li.price_set .bt{ background:url(../images/submit.gif) 0 0 no-repeat; width:41px; height:20px; border:none; cursor:pointer;}
.filter-tab li a.promot_hover{background:#fff8e7;color:#753d0a}
.tips{font-weight:bold;font-size:14px;color:#ff0000;text-align:center;margin: 0 0 25px 0}
p.no_goods{ background:url(../images/no_goods.gif) center center no-repeat; display:block; height:250px; width:350px; margin:0 auto;}


.pl_friendlinks ul{border:1px solid #f3f3f3;height:30px;line-height:30px;border-top:none}
.pl_link_h3 h3{font-size:12px;}
.pl_friendlinks ul li{float:left;text-align:center;height:25px}
.pl_friendlinks ul li a{width��94px;display:block;overflow:hidden;}
.pl_friendlinks ul li a img{height:30px;width:94px}
.pl_friendlinks ul.fontlink,.pl_friendlinks_2 ul.fontlink{height:25px;line-height:25px;width:1000px;margin:0px auto}
.pl_friendlinks ul.fontlink li{padding-left:20px}
.pl_friendlinks_2 ul li{float:left;padding-left:20px;}
.pl_friendlinks_2 ul{border:solid 1px #f3f3f3;border-top:none}
#fontlink2{margin-top:10px;border-top:solid 1px #f3f3f3}
.pl_friendlinks .pl_link_h3 {height:30px;line-height:35px;border-bottom:1px solid #f3f3f3;}
.pl_friendlinks .pl_link_h3 h3{font-weight: normal;float:left;height:30px;}
.pl_friendlinks .pl_link_h3 a{border:none;text-align:center;display:inline-block;float:right;height:30px;margin-right:5px}
.pl_friendlinks ul li p{height:30px;line-height:30px;_line-height:20px;_height:20px;text-align:center;}
.pl_friendlinks ul li p a{height:20px;line-height:20px}
.pl_txtlink{background:#fff;border:solid 1px #dddddd;border-top:none;margin:0px 0px 8px 0px;padding:8px}
.pl_txtlink a{width:75px;display:inline-block;color:#a7a7a7;text-align:center;}

/*page css*/
.notice_page{
    height: 44px;
    line-height: 44px;
    padding-right: 15px;
    text-align: center;
	width:980px;
	margin:0 auto;}
.notice_page .page{height:35px;line-height:35px;}
.notice_page a{background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #ccc;display: inline-block;height: 25px;line-height: 25px;margin:0;padding: 0 10px; text-decoration:none; font-family:Arial, Helvetica, sans-serif;}
.notice_page a.page_hover{background:#f00;color:#fff;font-weight:700}
.notice_page a.page_link{color:#0067cc}
.promot_ad{width:1000px;height:150px;margin: 0 auto;padding-bottom:10px;}