{include file="header.html"}
<div id="rightTop">
    <ul class="subnav2">
        <li class="on"><a>广告费入账<span></span></a></li>
    </ul>
</div>
<div class="mrightTop">
</div>
<div class="tdare">
    <div class="ad">
        <form method="post">
          <div><label>团购员手机号：</label><input type="text" class="text01" name="mobile"/></div>
          <div><label>客户单位：</label><input type="text" class="text01" name="company"/>*</div>
          <div><label>广告费金额：</label><input type="text" class="text01" name="cash"/>*</div>
          <div><label>备注信息：</label><textarea col="20" row="6"name="msg"></textarea></div>       
          <div><label>&nbsp;</label><input type="submit" value="确认入账" class="formbtn"></div>
        </form>
    </div>
</div>
<div>
</div> 
{include file="footer.html"}
