{include file="header.html"}
<script type="text/javascript">
function selectarea(level, obj){
	var leng = getAreaLen();
	for (var i = level ; i < 5 ; i++)
	{
		$('#area_id' + level).remove();
	}
	$('#area_name').attr('value', $('#area_id1').find(":selected").text() + " " 
			+ $('#area_id2').find(":selected").text() + " " 
			+ $('#area_id3').find(":selected").text() + " "
			+ $('#area_id4').find(":selected").text());
	if (level <= leng)
	{
		var parent_id = $("#area_id"+(level-1)).val();
		$.ajax({ 
	      type:"POST",
	      data:"parent_id="+parent_id+"&level="+level,
	      url:"index.php?app=channel&act=selectarea",
	      success:function(data){
				$("#areaspan"+level).html(data);
	        }
		});
	}
	
}
function changlevel(){
	var leng = getAreaLen();
	
	var selSpan = $("#area").children("span");
	
	for (var i = 0 ; i < selSpan.length ; i++)
	{
		if ($(selSpan[i]).attr('level') > leng) 
		{
			$("#areaspan" + $(selSpan[i]).attr('level')).empty();
		}
	}
}

function getAreaLen()
{
	return $('#level').children(':selected').attr('leng');
}

function getParent()
{
	return $('#level').children(':selected').attr('parent_level');
}

</script>
<div id="rightTop">
  <p>运营数据管理</p>
  <ul class="subnav">
    <li><span>新增</span></li>
    <li><a class="btn1" href="index.php?app=channel&act=feelist">管理</a></li>
  </ul>
</div>
<div class="info">
  <form name="form" method="post" action="">
    <table class="infoTable">
      <tr>
        <th class="paddingT15">渠道商等级：</th>
        <td class="paddingT15 wordSpacing5"><select id="level" name="level" onchange="changlevel();">
        	<!-- {foreach from=$channellevel_list item=node} -->
      	  		<option leng="{$node.area_level}" parent_level="{$node.parent_level}" value="{$node.id}">{$node.level_name}</option>
      	  	<!-- {/foreach} -->
      	  	  </select></td>
      </tr>
      <tr>
        <th class="paddingT15">所属区域:</th>
        <td id="area" class="paddingT15 wordSpacing5"><select name="area_id1" id="area_id1" onchange="selectarea(2,this);">
              <option value="">{$lang.select_pls}</option>
              <!--{foreach from=$area item=k name=v}-->
              <option value="{$k.region_id}">{$k.region_name}</option>
              <!--{/foreach}-->
            </select>
            <span id="areaspan2" level="2"></span>
            <span id="areaspan3" level="3"></span>
            <span id="areaspan4" level="4"></span>
            <input type="hidden" id="area_name" name="area_name" value=""/></td>
      </tr>
      <tr>
        <th class="paddingT15">加盟年费:</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" type="text" name="fee"/>元/年</td>
      </tr>
      <tr>
        <th class="paddingT15">会员消费返利收益率：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" type="text" name="return_rate"/>%</td>
      </tr>
      <tr>
        <th class="paddingT15">推荐渠道商收益率：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" type="text" name="recom_rate"/>%</td>
      </tr>
      <tr>
        <th class="paddingT15">一次性赠送积分：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" type="text" name="grant_credit"/></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20"><input class="formbtn" type="submit" name="Submit" value="{$lang.submit}" /></td>
      </tr>
    </table>
  </form>
</div>
{include file="footer.html"}