{include file="header.html"}
<div class="info">
    <table class="help" width="100%">
      <tr><td><h1>宏设置方法:</h1></td></tr>
      
      <tr><td>1.请尽量使用Microsoft Excel 2003或更高版本,WPS默认不支持宏功能,需要另外安装VBA才能使用.所以建议使用Microsoft Excel软件</td></tr>
      
      <tr><td>2.打开带有宏的excel文件,一般会有以下提示(以excel 2003的例):
      		<p align="center"><img border="1" src="../themes/img/hong_1.jpg" /></p>
            <p>确定后,软件会自动安装VBA的软件,耐心等其它安装完!</p>
      </td></tr>
      
      <tr><td>3.下面是设置宏的安全级别方法(以excel 2003的例):
      		<p align="center"><img border="1"  src="../themes/img/hong_2.jpg" /></p>
            <p align="center"><img border="1"  src="../themes/img/hong_3.jpg" /></p>
            <p>请以上示意图设置,设置完后关闭软件,如果提示是否要保存文件,点击否即可.</p>
      </td></tr>
      <tr><td>4.再重新启动你的Excel软件,这时一般是支持宏功了!<br />
         
      </td></tr>
      <tr><td class="red">
          PS:其它版本设置方法类似,此帮助仅供参考,其它版本如有问题,请百度一下找方法解决!
      </td></tr>
      <tr><td><p align="center"><a href="#" onclick="window.close()">关闭本页</a></p></td></tr>
    </table>
</div>
{include file="footer.html"} 