{include file="header.html"}
<script type="text/javascript">
$(function(){
    $('#add_time_from').datepicker({dateFormat: 'yy-mm-dd'});
    $('#add_time_to').datepicker({dateFormat: 'yy-mm-dd'});
});
</script>
<div id="rightTop">
    <ul class="subnav">
  	<li><a href="index.php?app=service" class="btn1">全部商品</a></li>
    <li><a href="index.php?app=service&act=user"  class="btn1">会员</a></li>
    <li><span>订单列表</span></li>
    </ul>
</div>
<div class="mrightTop">
    <div class="fontl">
        <form method="get">
             <div class="left">
                <input type="hidden" name="app" value="service" />
                <input type="hidden" name="act" value="order" />
                <select class="querySelect" name="field">{html_options options=$search_options selected=$smarty.get.field}
                </select>:<input class="queryInput" type="text" name="search_name" value="{$query.search_name|escape}" />
                <select class="querySelect" name="status">
                    <option value="">订单状态</option>
                    {html_options options=$order_status_list selected=$query.status}
                </select>
                下单时间:<input class="queryInput2" type="text" value="{$query.add_time_from}" id="add_time_from" name="add_time_from" class="pick_date" />
                至:<input class="queryInput2" type="text" value="{$query.add_time_to}" id="add_time_to" name="add_time_to" class="pick_date" />
                订单金额:<input class="queryInput2" type="text" value="{$query.order_amount_from}" name="order_amount_from" />
                至:<input class="queryInput2" type="text" style="width:60px;" value="{$query.order_amount_to}" name="order_amount_to" class="pick_date" />
                <input type="submit" class="formbtn" value="{$lang.query}" />
            </div>
            <!--{if $filtered}-->
            <a class="left formbtn1" href="index.php?app=service&act=order">{$lang.cancel_query}</a>
            <!--{/if}-->
        </form>
    </div>
    <div class="fontr">
        {if $orders}{include file=page.top.html}{/if}
    </div>
</div>
<div class="tdare">
    <table width="100%" cellspacing="0" class="dataTable">
        <!--{if $orders}-->
        <tr class="tatr1">
            <td width="15%" class="firstCell"><span ectype="order_by" fieldname="seller_id">{$lang.store_name}</span></td>
            <td width="15%"><span ectype="order_by" fieldname="order_sn">{$lang.order_sn}</span></td>
            <td width="15%"><span ectype="order_by" fieldname="add_time">下单时间</span></td>
            <td width="10%"><span ectype="order_by" fieldname="buyer_name">{$lang.buyer_name}</span></td>
            <td width="15%"><span ectype="order_by" fieldname="order_amount">订单金额</span></td>
            <td>{$lang.payment_name}</td>
            <td width="10%"><span ectype="order_by" fieldname="status">{$lang.status}</span></td>
            <td>操作状态</td>
        </tr>
        <!--{/if}-->
        <!--{foreach from=$orders item=order}-->
        <tr class="tatr2">
            <td class="firstCell">{$order.seller_name|escape}</td>
            <td>{$order.order_sn}&nbsp;&nbsp;<!--{if $order.extension eq 'groupbuy'}-->[{$lang.groupbuy}]<!--{/if}--></td>
            <td>{$order.add_time|date:complete}</td>
            <td>{$order.buyer_name|escape}</td>
            <td>{$order.order_amount|price}</td>
            <td>{$order.payment_name|escape|default:-}</td>
            <td>{if $order.status==11}等待买家付款{elseif $order.status==20}买家已付款{elseif $order.status==30}卖家已发货{elseif $order.status==40}交易成功{elseif $order.status==50}退款中{elseif $order.status==60}退款完成{elseif $order.status==0}交易取消{/if}</td>
<td>{if $order.is_settle_accounts eq 1}已结算{else}未结算{/if}</td>
        </tr>
        <!--{foreachelse}-->
        <tr class="no_data">
            <td colspan="7">{$lang.no_data}</td>
        </tr>
        <!--{/foreach}-->
    </table>
    <div id="dataFuncs">
        <div class="pageLinks">
            {if $orders}{include file=page.bottom.html}{/if}
        </div>
    </div>
    <div class="clear"></div>
</div>
{include file="footer.html"}
