{include file="header.html"}
<div id="rightTop">
  <p>{$lang.store}</p>
  <ul class="subnav">
    <li><a class="btn1" href="index.php?app=store&act=payment">缴费</a></li>
    <li><a class="btn1" href="index.php?app=store&act=paymentdetail">缴费明细</a></li>
  </ul>
</div>
<div class="mrightTop"> 
</div>
<div class="tdare">
<table class="dataTable" cellpadding="0" cellspacing="0" width="100%">
<tr><td>缴费时间</td><td>缴费金额</td></tr>
<tr><td>2012-12-01 12:00:00</td><td>1000</td></tr>
</table>
  <div class="fontr">{include file=page.top.html} </div>
</div>

{include file="footer.html"}