{include file="header.html"}
<div  class="order_form" style="border:none;margin-top:50px;">  
<div class="info">
  <form method="post">
    <table class="infoTable">

      <tr>
        <th class="paddingT15"> <label for="ship_reason">许愿内容:</label></th>
        <td class="paddingT15 wordSpacing5"><textarea id="drop_reason" name="content"/>{$vowinfo.content}</textarea></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
          <input class="formbtn" type="submit" name="Submit" value="提交" />
          <input class="formbtn" type="button" value="返回" onclick="history.go(-1)" />
        </td>
      </tr>
    </table>
  </form>
</div>
{include file="footer.html"}