{include file="header.html"}
<div id="rightTop">
  <p>许愿墙</p>
  <ul class="subnav">   

    <li><a class="btn1" href="index.php?app=vowwall">{$lang.manage}</a></li>
  </ul>
  
</div>
<div class="mrightTop">
  <div class="fontl">
    <form method="get">
      <div style="float:left;">
			<select id="vowwall" class="wish_select"  name="opt">
			<option {if $opt eq 0}selected{/if} value="0">按纸条号码</option>
			<option {if $opt eq 1}selected{/if} value="1">按用户名</option>
			</select>
			<span class="two_grade" {if $opt eq 1}style='display:none;'{/if} id='opt0'>
            <input class="wish_input" name="vow_id" type="text"  value="{$vow_id}"/>
          </span>
          <span class="two_grade" id='opt1' {if $opt neq 1}style='display:none;'{/if}>
            <input class="wish_input" name='user_name' type="text" value="{$user_name}"/>
          </span>
           <input type="hidden" name="app" value="vowwall"/>
          <input type="hidden" name="act" value="index"/>
          <input type="submit" class="wish_search" name="Submit" value="查找" />
          </div>

    </form>
  </div>
  <div class="fontr">{if $page_info}{include file=page.top.html}{/if}</div>
</div>
<form method="post" id="forms">
<div class="tdare">
  <table width="100%" cellspacing="0" class="dataTable">   
    <tr class="tatr1">
      <td width="20" class="firstCell"><input type="checkbox" class="checkall" /></td>
      <td>愿望号码</td>
      <td>会员名</td>
      <td>愿望内容</td>      
      <td>注册时间</td>  
      <td>审核状态</td> 
      <td>操作</td>
    </tr>  
    <!-- {foreach from=$vowinfo item=vow} -->
    <tr class="tatr2">
      <td class="firstCell"><input type="checkbox" name="vid[]" value="{$vow.vow_id}" class="checkitem" /></td>
      <td>{$vow.vow_id}</td>
      <td>{$vow.user_name}</td>
      <td>{$vow.content}</td>
      <td>{$vow.add_time}</td>
      <td>{if $vow.status==0}未审核{elseif $vow.status==1}已通过{elseif $vow.status==2}未通过{/if}</td>
	  <td><a href="index.php?app=vowwall&act=edit&vow_id={$vow.vow_id}">编辑</a></td>
    </tr>
       <!--{foreachelse}-->
    <tr class="no_data info">
      <td colspan="8">没有符合条件的愿望！</td>
    </tr>
    <!-- {/foreach} --> 
  </table>
  <div id="dataFuncs">
  <div id="batchAction" class="left paddingT15">
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="button" id="audit" value="批量审核" />
     
          &nbsp;&nbsp;
	 <input type="button" id="dels" value="批量删除" />
    </div>
    </form>
    	 <div class="pageLinks">
            {if $page_info}{include file=page.bottom.html}{/if}
        </div>
</div>
<script type="text/javascript">
$(function(){
	$("#vowwall").change(function(){
        var val = $('#vowwall').val();
        $('.two_grade').hide();
        $('#opt'+val).show();
	})
})

$("#dels").click(function () {
	$('#forms').attr('action','index.php?app=vowwall&act=drop');
	$("#forms").submit();
});
$("#audit").click(function () {
	$("#forms").attr('action','index.php?app=vowwall&act=index');
	$("#forms").submit();
});

</script>
{include file="footer.html"}